:root {
  --primary: #111;
  --accent: rgb(83, 196, 158);
  --accent-light: rgb(93, 214, 174);
  --text: #eee;
  --link: rgb(71, 66, 119);
}

body {
  background-color: var(--primary);
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: var(--link)
}
a:hover {
text-decoration: underline;
}